/* 
    Document   : footer
    Created on : 16/04/2011, 07:54:40 PM
    Author     : anderson
    Description:
    Estilos de cascada para la cabecera
*/

#header{
    background:url(images/top_bg.gif) repeat-x;
    height: 134px;
    padding: 19px 0 0;
    width: 100%;
}

#header .container_12 #buscador form .ir {
    background-image: url(images/btn_go.gif);
    float: right;
    border: medium none;
    color: #333333;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    margin: 0 0 5px;
    width: 36px;
}

#header .container_12 #buscador form .default {
    background-color: #FFFFFF;
    border-color: #404040 #D4D0C8 #D4D0C8 #404040;
    border-style: solid;
    border-width: 1px;
    color: #aaa;
    float: left;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    margin: 0 0 5px;
    padding: 4px 0 0 14px;
    width: 184px;
}

#header .container_12 #buscador form a {
    background-color: #0D6C8A;
    font-family: 'Berlin_Sans_FB';
    color: #D6DF43;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none;
    width: 160px
}

#header .container_12 #descripcion {
    font-family:'twitter';
    font-size:18px;
    color:#ffffff;
    padding-top: 12px;
    text-shadow: 5px 5px px rgba(0,0,0,0.5);

}

#header .container_12 #buscador form {
    height: 47px;
    padding: 17px 8px 0 53px;
    width: 249px;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(images/serch_bg.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#header .container_12 #menu{
    font-size: 10px;
    padding-top: 8px;
    margin-right: 5%;
    margin-left: 5%;
}


.sinFondo{
    border: none;
    background : none;

}
